.navbar {
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    outline: none;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    background-color: #0f52ba;
    color: #fff;
    max-width: 6%;
    margin-right: -10px;
    justify-content: right;
}

.navbar-login {
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    outline: none;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    background-color: #0f52ba;
}

.user {
    padding-top: 20px;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    outline: none;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 10px;
    max-width: 100%;
    font-size: large;
    
}