$font : 'Archivo Black', serif;
$matte-black : #252525 ;
$light-green : #8fc3c3;
$teal : #72b3c4;
$background : rgb(163, 105, 105);
$medium-green : #21746b;
$dark-green : #104e48;
$button-color : #6a8cc9;
$dark-blue : #0c1a34;

//Variables