@import '_variables'; 

body {
    font-family: $font;
    color: $matte-black;
    
}

.title {
    text-align: center;
    color: $matte-black;
    max-width: 30%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 450px;
}

.container {
    padding: 30px;
    width: 60%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    //border: 5px solid $button-color;
    border-radius: 10px;
}

.button-container {
    padding: 20px;
    width: 60%;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
}

button {
    // align-self: center;
    // width: 50%;
    // margin: 10px;
    // height: 80%;
    // padding: 10px;
    // background-color: $button-color;
    // color: $dark-blue ;
    // border: 0 none;
    // font-size: 16px;
    // font-weight: bold;
    // border-radius: 10px;

    font-size: 1rem;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: capitalize;
    margin-left: 40px;
    justify-content: center;
    margin-left: 90px;

}

button:hover {
    background-color: $background;
    color: $medium-green;
    cursor: pointer;
}
