
Heading style
h1{
    
    border: 3px solid green;
    height: 50px;
    width: 150px;
    
    
    
    left: 200px;
    
    position: relative;
    font-weight: bolder;
    color: Green;
}

nav{
    
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: Green;
}

.Nav-Bar{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 220px;
}
