 .button{
    font-size:15px;
    background: #34495e;
    color: #fff;
    font-weight: bold;
    padding:10px 15px;
    position:fixed;
    border-radius:5px 5px 0 0;
    border: none;
    bottom:0;
    width: auto;
  }