@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  
}


.head1{
 align-self: center;
 text-align: center;
 background: linear-gradient(to right, #c5d9ff, #658acb);
font-family: 'Montserrat', sans-serif;
color: rgb(255, 255, 255);
width: 100%;
align-content: center;
}

.box1{
    

    font-size: 40px;
    text-align: center;
    background-color: lightskyblue ;
    padding: 90px ;
    color: rgb(255, 255, 255);
    border: 1px solid blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    

}

.grid-container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
 

}

.box2{
    
    font-size: 40px;
    text-align: center;
    background-color: lightskyblue ;
    padding: 90px ;
    border: 1px solid blanchedalmond;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
 
    

    
}
.box3{
    
    font-size: 40px;
    text-align: center;
    background-color: lightskyblue ;
    padding: 90px ;
    border: 1px solid blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    color: rgb(255, 255, 255);
    

}
.box4{
    
    font-size: 40px;
    text-align: center;
    background-color: lightskyblue ;
    padding: 90px ;
    border: 1px solid blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    color: rgb(250, 250, 250);
    

}


.progress{

    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-align:justify;
    font-family: 'Montserrat', sans-serif;


    

}

.progress-size{
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #60656e;
    text-align: justify;
    padding: 1%;


}

