.grid-container{
   
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gold;
  
    
    
  }
  
  .bg-container{
    background-color: gold;
    
  }
  h1{
    text-align: center;
    align-self: center;
  }
  